.drop-zone {
    border: dotted 3px lightgray;
    display: inline-block;
    padding: 6px 12px;
    max-width: 400px;
}

.nv-file-over {
    border: dotted 3px green;
}
.nv-file-over-mismatch {
    border: dotted 3px red;
}

/* Better looking file button */

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

label.image-select > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.image-select > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  max-width: 100px;
  max-height: 50px;
}
label.image-select > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid;
    border-color: rgba(200, 40,70, 0.4);
}

